geopandas==1.0.1; python_version == '3.9'
geopandas==1.1.1; python_version >= '3.10'
matplotlib==3.9.4; python_version == '3.9'
matplotlib==3.10.7; python_version >= '3.10'
numpy>=1.26.4; python_version >= "3.9" and python_version <= '3.10'
numpy>=2.1; python_version >= '3.11'
netCDF4==1.7.2; python_version == '3.9'
netCDF4==1.7.3; python_version >= '3.10'
rasterio==1.4.3; python_version == '3.9'
rasterio==1.4.4; python_version >= '3.10'
scipy==1.13.1; python_version == '3.9'
scipy>=1.14.1; python_version == '3.10'
scipy==1.16.1; python_version >= '3.11'
pandas==2.3.3; python_version >= "3.9"
pydantic==2.12.2; python_version >= "3.9"
pyproj==3.6.1; python_version == '3.9'
pyproj==3.7.1; python_version == '3.10'
pyproj==3.7.2; python_version >= '3.11'
pyyaml>=6.0
